apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: seaweedfs
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://seaweedfs.github.io/seaweedfs/helm
      chart: seaweedfs
      targetRevision: "4.0.412"
      helm:
        valuesObject:
          global:
            replicationPlacement: "000"
            monitoring:
              enabled: true
            enableReplication: false

          master:
            enabled: true
            replicas: 1
            volumeSizeLimitMB: 1000
            defaultReplication: "000"

            affinity: ""

            nodeSelector: |
              node-role.kubernetes.io/object_storage: "true"

            tolerations: |
              - key: "dedicated"
                operator: "Equal"
                value: "object_storage"
                effect: "NoSchedule"

            data:
              type: "persistentVolumeClaim"
              size: "1Gi"
              storageClass: "local-path"

            logs:
              type: "emptyDir"

            resources:
              requests:
                cpu: "100m"
                memory: "128Mi"
              limits:
                cpu: "500m"
                memory: "256Mi"

            extraEnvironmentVars:
              WEED_MASTER_VOLUME_GROWTH_COPY_1: "7"
              WEED_MASTER_VOLUME_GROWTH_COPY_2: "6"
              WEED_MASTER_VOLUME_GROWTH_COPY_3: "3"
              WEED_MASTER_VOLUME_GROWTH_COPY_OTHER: "1"

          volume:
            enabled: true
            replicas: 1
            minFreeSpacePercent: 7
            compactionMBps: "30"

            affinity: ""

            nodeSelector: |
              node-role.kubernetes.io/object_storage: "true"

            tolerations: |
              - key: "dedicated"
                operator: "Equal"
                value: "object_storage"
                effect: "NoSchedule"

            dataDirs:
              - name: data
                type: "persistentVolumeClaim"
                size: "200Gi"
                storageClass: "local-path"
                maxVolumes: 0

            idx: {}

            logs:
              type: "emptyDir"

            resources:
              requests:
                cpu: "100m"
                memory: "256Mi"
              limits:
                cpu: "1000m"
                memory: "1536Mi"

          filer:
            enabled: true
            replicas: 1
            defaultReplicaPlacement: "000"
            encryptVolumeData: false

            affinity: ""

            nodeSelector: |
              node-role.kubernetes.io/object_storage: "true"

            tolerations: |
              - key: "dedicated"
                operator: "Equal"
                value: "object_storage"
                effect: "NoSchedule"

            data:
              type: "persistentVolumeClaim"
              size: "5Gi"
              storageClass: "local-path"

            logs:
              type: "emptyDir"

            resources:
              requests:
                cpu: "100m"
                memory: "256Mi"
              limits:
                cpu: "1000m"
                memory: "1Gi"

            extraEnvironmentVars:
              WEED_LEVELDB2_ENABLED: "true"
              WEED_FILER_OPTIONS_RECURSIVE_DELETE: "false"
              WEED_FILER_BUCKETS_FOLDER: "/buckets"

            s3:
              enabled: true
              port: 8333
              enableAuth: false

          s3:
            enabled: false

          admin:
            enabled: true
            replicas: 1

            affinity: ""

            nodeSelector: |
              node-role.kubernetes.io/object_storage: "true"

            tolerations: |
              - key: "dedicated"
                operator: "Equal"
                value: "object_storage"
                effect: "NoSchedule"

            data:
              type: "emptyDir"

            logs:
              type: "emptyDir"

            resources:
              requests:
                cpu: "50m"
                memory: "64Mi"
              limits:
                cpu: "250m"
                memory: "128Mi"

            service:
              type: ClusterIP
    - repoURL: git@github.com:kitti12911/homelab-devops.git
      targetRevision: main
      path: infrastructure/kubernetes/app/seaweedfs-manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: seaweedfs
  syncPolicy:
    syncOptions:
      - CreateNamespace=true