apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
spec:
  project: platform
  sources:
    - repoURL: https://charts.jetstack.io
      chart: cert-manager
      targetRevision: "v1.19.3"
      helm:
        valuesObject:
          crds:
            enabled: true
            keep: true

          nodeSelector:
            node-role.kubernetes.io/control-plane: "true"

          tolerations:
            - key: node-role.kubernetes.io/control-plane
              operator: Exists
              effect: NoSchedule
            - key: node-role.kubernetes.io/master
              operator: Exists
              effect: NoSchedule

          webhook:
            nodeSelector:
              node-role.kubernetes.io/control-plane: "true"
            tolerations:
              - key: node-role.kubernetes.io/control-plane
                operator: Exists
                effect: NoSchedule
              - key: node-role.kubernetes.io/master
                operator: Exists
                effect: NoSchedule
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 64Mi

          cainjector:
            nodeSelector:
              node-role.kubernetes.io/control-plane: "true"
            tolerations:
              - key: node-role.kubernetes.io/control-plane
                operator: Exists
                effect: NoSchedule
              - key: node-role.kubernetes.io/master
                operator: Exists
                effect: NoSchedule
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 128Mi

          resources:
            requests:
              cpu: 10m
              memory: 64Mi
            limits:
              memory: 128Mi
    - repoURL: git@github.com:kitti12911/homelab-devops.git
      targetRevision: main
      path: infrastructure/kubernetes/app/cert-manager-manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
