apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: dragonfly
  namespace: argocd
spec:
  project: database
  sources:
    - repoURL: ghcr.io/dragonflydb/dragonfly/helm
      chart: dragonfly
      targetRevision: "v1.36.0"
      helm:
        valuesObject:
          replicaCount: 1

          storage:
            enabled: true
            storageClassName: local-path
            requests: 10Gi

          service:
            type: ClusterIP
            port: 6379

          passwordFromSecret:
            enable: true
            existingSecret:
              name: dragonfly-auth
              key: password

          extraArgs:
            - --maxmemory=2gb

          nodeSelector:
            node-role.kubernetes.io/database: "true"

          tolerations:
            - key: dedicated
              operator: Equal
              value: database
              effect: NoSchedule

          extraObjects:
            - apiVersion: v1
              kind: Service
              metadata:
                name: dragonfly-nodeport
                namespace: database
              spec:
                type: NodePort
                selector:
                  app.kubernetes.io/name: dragonfly
                  app.kubernetes.io/instance: dragonfly
                ports:
                  - port: 6379
                    targetPort: dragonfly
                    nodePort: 30379

          resources:
            requests:
              cpu: 250m
              memory: 1536Mi
            limits:
              cpu: "1500m"
              memory: 2560Mi
    - repoURL: git@github.com:kitti12911/homelab-devops.git
      targetRevision: main
      path: infrastructure/kubernetes/app/dragonfly-manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: database
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
