apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: keycloak
  namespace: argocd
spec:
  project: security
  source:
    repoURL: git@github.com:kitti12911/homelab-devops.git
    targetRevision: main
    path: infrastructure/kubernetes/app/keycloak-manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: keycloak
  syncPolicy:
    managedNamespaceMetadata:
      labels:
        gateway-access: "true"
    syncOptions:
      - CreateNamespace=true
