apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: "82.1.0"
      helm:
        valuesObject:
          crds:
            enabled: false

          cleanPrometheusOperatorObjectNames: true

          prometheusOperator:
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                memory: 256Mi

          prometheus:
            prometheusSpec:
              retention: 7d
              retentionSize: 10GB

              scrapeInterval: 60s
              evaluationInterval: 60s

              storageSpec:
                volumeClaimTemplate:
                  spec:
                    storageClassName: longhorn
                    accessModes:
                      - ReadWriteOnce
                    resources:
                      requests:
                        storage: 20Gi

              resources:
                requests:
                  cpu: 200m
                  memory: 512Mi
                limits:
                  memory: 2Gi

              serviceMonitorSelectorNilUsesHelmValues: false
              podMonitorSelectorNilUsesHelmValues: false
              ruleSelectorNilUsesHelmValues: false
              probeSelectorNilUsesHelmValues: false
              scrapeConfigSelectorNilUsesHelmValues: false

              enableRemoteWriteReceiver: true

          alertmanager:
            alertmanagerSpec:
              storage:
                volumeClaimTemplate:
                  spec:
                    storageClassName: longhorn
                    accessModes:
                      - ReadWriteOnce
                    resources:
                      requests:
                        storage: 1Gi

              resources:
                requests:
                  cpu: 50m
                  memory: 64Mi
                limits:
                  memory: 128Mi

          grafana:
            adminPassword: ""
            admin:
              existingSecret: grafana-admin-credentials
              userKey: admin-user
              passwordKey: admin-password

            defaultDashboardsEnabled: true
            defaultDashboardsTimezone: utc

            deploymentStrategy:
              type: Recreate
              rollingUpdate: null

            persistence:
              enabled: true
              type: pvc
              storageClassName: longhorn
              accessModes:
                - ReadWriteOnce
              size: 2Gi

            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 512Mi

            envFromSecrets:
              - name: grafana-oidc-secret
                optional: false

            extraConfigmapMounts:
              - name: homelab-ca
                mountPath: /etc/ssl/certs/homelab-ca.crt
                subPath: homelab-ca.crt
                configMap: homelab-ca
                readOnly: true

            grafana.ini:
              server:
                root_url: https://grafana.lan
              auth.generic_oauth:
                enabled: true
                name: Keycloak
                allow_sign_up: true
                auto_login: false
                client_id: grafana
                scopes: openid profile email
                auth_url: https://keycloak.lan/realms/homelab/protocol/openid-connect/auth
                token_url: https://keycloak.lan/realms/homelab/protocol/openid-connect/token
                api_url: https://keycloak.lan/realms/homelab/protocol/openid-connect/userinfo
                signout_redirect_url: https://keycloak.lan/realms/homelab/protocol/openid-connect/logout?post_logout_redirect_uri=https%3A%2F%2Fgrafana.lan&client_id=grafana
                tls_client_ca: /etc/ssl/certs/homelab-ca.crt
                role_attribute_path: "contains(groups[*], 'grafana-admins') && 'Admin' || contains(groups[*], 'grafana-editors') && 'Editor' || 'Viewer'"

            additionalDataSources:
              - name: Loki
                type: loki
                uid: loki
                url: http://loki-gateway.loki.svc.cluster.local:80
                access: proxy
                jsonData:
                  maxLines: 1000
                  derivedFields:
                    - datasourceUid: tempo
                      matcherRegex: '"traceID":"(\w+)"'
                      name: TraceID
                      url: '$${__value.raw}'
              - name: Tempo
                type: tempo
                uid: tempo
                url: http://tempo.tempo.svc.cluster.local:3200
                access: proxy
                jsonData:
                  tracesToLogsV2:
                    datasourceUid: loki
                    filterByTraceID: true
                  tracesToMetrics:
                    datasourceUid: prometheus
                  lokiSearch:
                    datasourceUid: loki
                  serviceMap:
                    datasourceUid: prometheus

            sidecar:
              dashboards:
                enabled: true
                searchNamespace: ALL
              datasources:
                enabled: true

          nodeExporter:
            enabled: true

          prometheus-node-exporter:
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 64Mi

          kube-state-metrics:
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 128Mi

          kubeProxy:
            enabled: false

          kubeEtcd:
            enabled: false

          kubeControllerManager:
            enabled: false

          kubeScheduler:
            enabled: false

    - repoURL: git@github.com:kitti12911/homelab-devops.git
      targetRevision: main
      path: infrastructure/kubernetes/app/kube-prometheus-stack-manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
