apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://grafana.github.io/helm-charts
      chart: loki
      targetRevision: "6.53.0"
      helm:
        valuesObject:
          deploymentMode: SingleBinary

          loki:
            auth_enabled: false

            commonConfig:
              replication_factor: 1

            schemaConfig:
              configs:
                - from: "2024-04-01"
                  store: tsdb
                  object_store: filesystem
                  schema: v13
                  index:
                    prefix: index_
                    period: 24h

            storage:
              type: filesystem

            limits_config:
              retention_period: 168h
              max_query_lookback: 168h

          singleBinary:
            replicas: 1

            persistence:
              enabled: true
              storageClass: longhorn
              size: 20Gi

            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 1Gi

          backend:
            replicas: 0
          read:
            replicas: 0
          write:
            replicas: 0

          ingester:
            replicas: 0
          querier:
            replicas: 0
          queryFrontend:
            replicas: 0
          queryScheduler:
            replicas: 0
          distributor:
            replicas: 0
          compactor:
            replicas: 0
          indexGateway:
            replicas: 0
          bloomCompactor:
            replicas: 0
          bloomGateway:
            replicas: 0

          gateway:
            enabled: true
            replicas: 1

            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 64Mi

          minio:
            enabled: false

          monitoring:
            selfMonitoring:
              enabled: false
              grafanaAgent:
                installOperator: false
            serviceMonitor:
              enabled: true

          test:
            enabled: false

          lokiCanary:
            enabled: false

          chunksCache:
            enabled: false

          resultsCache:
            enabled: false

    - repoURL: git@github.com:kitti12911/homelab-devops.git
      targetRevision: main
      path: infrastructure/kubernetes/app/loki-manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: loki
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
