apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nats
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://nats-io.github.io/k8s/helm/charts/
    chart: nats
    targetRevision: "2.12.4"
    helm:
      valuesObject:
        config:
          jetstream:
            enabled: true
            fileStore:
              enabled: true
              dir: /data
              pvc:
                enabled: true
                size: 5Gi
                storageClassName: local-path

        container:
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 768Mi

        podTemplate:
          merge:
            spec:
              nodeSelector:
                node-role.kubernetes.io/database: "true"
              tolerations:
                - key: dedicated
                  operator: Equal
                  value: database
                  effect: NoSchedule

        natsBox:
          podTemplate:
            merge:
              spec:
                nodeSelector:
                  node-role.kubernetes.io/database: "true"
                tolerations:
                  - key: dedicated
                    operator: Equal
                    value: database
                    effect: NoSchedule

        extraResources:
          - apiVersion: v1
            kind: Service
            metadata:
              name: nats-nodeport
              namespace: database
            spec:
              type: NodePort
              selector:
                app.kubernetes.io/name: nats
                app.kubernetes.io/instance: nats
              ports:
                - name: nats
                  port: 4222
                  targetPort: 4222
                  nodePort: 30422
  destination:
    server: https://kubernetes.default.svc
    namespace: database
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
