apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgresql
  namespace: argocd
spec:
  project: database
  source:
    repoURL: git@github.com:kitti12911/homelab-devops.git
    targetRevision: main
    path: infrastructure/kubernetes/app/postgresql-manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: database
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
