apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: reloader
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://stakater.github.io/stakater-charts
    chart: reloader
    targetRevision: "2.2.8"
    helm:
      valuesObject:
        reloader:
          watchGlobally: true
          reloadStrategy: annotations

          nodeSelector:
            node-role.kubernetes.io/control-plane: "true"

          tolerations:
            - key: node-role.kubernetes.io/control-plane
              operator: Exists
              effect: NoSchedule
            - key: node-role.kubernetes.io/master
              operator: Exists
              effect: NoSchedule

          resources:
            requests:
              cpu: 10m
              memory: 128Mi
            limits:
              cpu: 150m
              memory: 256Mi
  destination:
    server: https://kubernetes.default.svc
    namespace: reloader
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
