apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: system-upgrade-controller
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:kitti12911/homelab-devops.git
    targetRevision: main
    path: infrastructure/kubernetes/app/system-upgrade-controller-manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: system-upgrade
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
