apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tempo
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://grafana.github.io/helm-charts
      chart: tempo
      targetRevision: "1.24.4"
      helm:
        valuesObject:
          tempo:
            retention: 168h

            receivers:
              otlp:
                protocols:
                  grpc:
                    endpoint: "0.0.0.0:4317"
                  http:
                    endpoint: "0.0.0.0:4318"

            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 1Gi

            metricsGenerator:
              enabled: true
              remoteWriteUrl: "http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090/api/v1/write"

          persistence:
            enabled: true
            storageClassName: longhorn
            accessModes:
              - ReadWriteOnce
            size: 10Gi

          serviceMonitor:
            enabled: true

    - repoURL: git@github.com:kitti12911/homelab-devops.git
      targetRevision: main
      path: infrastructure/kubernetes/app/tempo-manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: tempo
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
