- name: Get K3s node token from master
  hosts: master
  become: true
  gather_facts: false

  tasks:
    - name: Read node token from master
      ansible.builtin.slurp:
        src: /var/lib/rancher/k3s/server/node-token
      register: k3s_token_slurp

    - name: Set K3s node token fact
      ansible.builtin.set_fact:
        k3s_node_token: "{{ (k3s_token_slurp.content | b64decode) | trim }}"
      run_once: true

- name: Install K3s agent on workers
  hosts: worker
  become: true

  vars:
    k3s_master_url: "https://{{ hostvars[groups['master'][0]].ansible_host }}:6443"
    k3s_token: "{{ hostvars[groups['master'][0]].k3s_node_token }}"

  tasks:
    - name: Check if K3s is already installed
      ansible.builtin.stat:
        path: /usr/local/bin/k3s
      register: k3s_installed

    - name: Install K3s agent
      ansible.builtin.shell: |
        curl -sfL https://get.k3s.io | K3S_URL={{ k3s_master_url }} K3S_TOKEN={{ k3s_token }} sh -
      args:
        creates: /usr/local/bin/k3s
      when: not k3s_installed.stat.exists

- name: Wait until all worker nodes are Ready
  hosts: master
  become: true
  gather_facts: false

  vars:
    worker_names: "{{ groups['worker'] | join(',') }}"

  tasks:
    - name: Check that all worker nodes are Ready
      ansible.builtin.shell: |
        /usr/local/bin/k3s kubectl get nodes --no-headers |
          awk -v workers="{{ worker_names }}" '
            BEGIN { n = split(workers, w, ","); for (i=1;i<=n;i++) want[w[i]]=1 }
            $2 == "Ready" && $1 in want { delete want[$1] }
            END { exit (length(want) > 0) }
          '
      register: workers_ready
      until: workers_ready.rc == 0
      retries: 24
      delay: 10
      failed_when: false

    - name: Fail if workers did not become Ready
      ansible.builtin.fail:
        msg: "Not all worker nodes are Ready after 4 minutes. Run 'k3s kubectl get nodes' on master to inspect."
      when: workers_ready.rc != 0

    - name: Show node status
      ansible.builtin.command: /usr/local/bin/k3s kubectl get nodes
      changed_when: false

- name: Taint and label database / object_storage nodes
  hosts: master
  become: true
  gather_facts: false

  tasks:
    - name: Label and taint database nodes
      ansible.builtin.shell: |
        /usr/local/bin/k3s kubectl label node {{ item }} node-role.kubernetes.io/database=true --overwrite
        /usr/local/bin/k3s kubectl taint node {{ item }} dedicated=database:NoSchedule --overwrite
      loop: "{{ groups['database'] }}"
      when: groups['database'] | length > 0

    - name: Label and taint object_storage nodes
      ansible.builtin.shell: |
        /usr/local/bin/k3s kubectl label node {{ item }} node-role.kubernetes.io/object_storage=true --overwrite
        /usr/local/bin/k3s kubectl taint node {{ item }} dedicated=object_storage:NoSchedule --overwrite
      loop: "{{ groups['object_storage'] }}"
      when: groups['object_storage'] | length > 0
